<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block headConfig %}{% include ':includes:headConf.html.twig' %}{% endblock%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
     <body{% block bodyClass %} class=""{% endblock %}{% block bodyId %} id=""{% endblock %} >
        {% block body %}{% endblock body %}
        {% block javascripts %}{% include ':includes:javascripts.html.twig' %}{% endblock javascripts %}
    </body>
</html>
